@font-face {
  font-family: 'iconfont';  /* project id 2388574 */
  src: url('https://at.alicdn.com/t/font_2388574_sk1w4lo1by.eot');
  src: url('https://at.alicdn.com/t/font_2388574_sk1w4lo1by.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2388574_sk1w4lo1by.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2388574_sk1w4lo1by.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2388574_sk1w4lo1by.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2388574_sk1w4lo1by.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gitee:before {
  content: "\e628";
}

.envelope:before {
  content: "\e629";
}

.github:before {
  content: "\e62a";
}

.weixin:before {
  content: "\e62b";
}

